ul.pais__lista
  li.pais__elem: a.active(href="#", onclick="setTimeZone('Europe/Rome')") Italia
  li.pais__elem: a(href="#", onclick="setTimeZone('America/Lima')") Perù
  li.pais__elem: a(href="#", onclick="setTimeZone('Europe/London')") London
  li.pais__elem: a(href="#", onclick="setTimeZone('Europe/Moscow')") Mosca
  li.pais__elem: a(href="#", onclick="setTimeZone('Asia/Tokyo')") Tokyo
.reloj
  .ora: span 1
  .ora: span 2
  .ora: span 3
  .ora: span 4
  .ora: span 5
  .ora: span 6
  .ora: span 7
  .ora: span 8
  .ora: span 9
  .ora: span 10
  .ora: span 11
  .ora: span 12
  .agujas
    .aguja.oras
    .aguja.minutos
    .aguja.segundos
